
.btn-green {
    background-color: #28A745  !important;
    color: white !important; 
    text-transform: uppercase;
    font-weight: bold;
}

.btn-black {
    width: 200px;
    height: 50px;
    font-size: 20px !important;
    font-weight: bold !important;
}